:root {
    --dark: #175676;
    --medium: #4ba3c3;
    --light: #cce6f4;
  }

.App {
    background-color: var(--dark);
    height: 100vh;
    width: 70vw;
}

@media only screen and (max-width: 1120px) {
  .App {
    width: 100vw;
  }
}